@model MyRealEstate.DomainClasses.Estate.Estate

@{
    ViewData["Title"] = "Edit ";
}

<h2> Edit</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EstateId" />
            <input type="hidden" asp-for="RegDate" />
            <input type="hidden" asp-for="EstateLogo" />
            <div class="form-group">
                <label asp-for="NeighborhoodId" class="control-label"></label>
                <select asp-for="NeighborhoodId" class="form-control" asp-items="ViewBag.NeighborhoodId"></select>
                <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea rows="5" asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionYear" class="control-label"></label>
                <input asp-for="ConstructionYear" class="form-control" />
                <span asp-validation-for="ConstructionYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enable" /> @Html.DisplayNameFor(model => model.Enable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EstateLogo" class="control-label"></label>
                <input type="file" name="logoUpload" />
                <span asp-validation-for="EstateLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back TO List  </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
