@model MyRealEstate.DomainClasses.Estate.EstateContract

@{
    ViewData["Title"] = "Create";
}

<h2>Add New Contract</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <Input type="hidden" asp-for="EstateId" value="@ViewBag.EstateId" />
            
            <div class="form-group">
                <label asp-for="BuyerUserId" class="control-label"></label>
                <select asp-for="BuyerUserId" class="form-control" asp-items="ViewBag.MyUsers"></select>
            </div>
            <div class="form-group">
                <label asp-for="SellerUserId" class="control-label"></label>
                <select asp-for="SellerUserId" class="form-control" asp-items="ViewBag.MyUsers"></select>
            </div>

            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save " class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.EstateId">Back TO List  </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
