@using System.Security.Claims
@model MyRealEstate.DomainClasses.Estate.RequestEstate

@{
    ViewData["Title"] = "Request For Adding Estate";
}

<h2>Request For Adding Estate</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="SaveUserId" value="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)"  />
                
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="EstateId" value="@ViewBag.EstateId">
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SaveTime" value="@DateTime.Now"/>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea rows="10" asp-for="Note" class="form-control"></textarea> 
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.EstateId">Back To list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
